<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/links :: links"/>

<body>
<header th:replace="blocks/header :: header"/>
<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white shadow">
    <a th:href="${'/province/'+region.getProvince().getName()}" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-5 fw-semibold" th:text="${region.getName()}"/>
    </a>
    <div class="list-group list-group-flush border-bottom scrollarea">
        <a th:href="${'/department/'+region.getDepartmentList().get(0).getId()}" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1" th:text="${region.getDepartmentList().get(0).getAddress()}"/>
                <small>Wed</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
        </a>
    </div>
</div>
</body>
</html>